@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', 'Segoe UI';
}

/* Custom responsive breakpoints */
@media (max-width: 640px) {
    .toast-container {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .chart-container {
        height: 300px !important;
    }
}

/* Smooth transitions for all elements */
* {
    transition: color 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
    /* Tailwind's blue-500 with opacity */
    border-color: #3b82f6;
    /* Tailwind's blue-500 */
}

button{
    outline: none;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}